.App {
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;

  box-sizing: border-box;
}

#time-metrics-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#time-display-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#metrics-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.current-difference {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 50px;
  width: 350px;
  margin-bottom: 10px;
}
#loading {
  height: 20vh;
  border: 2px solid red;
}
