.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(244, 244, 223);
  padding: 10px;
  box-sizing: border-box;
}

#time-metrics-wrapper {
  display: flex;
  flex-direction: row;
}

#time-display-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50vw;
}

#metrics-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50vw;
}
.current-difference {
  display: flex;
  gap: 20px;
}
#loading {
  height: 20vh;
  border: 2px solid red;
}
